.col-sm-2{
    background: linear-gradient(180deg, rgba(104,131,161,1) 0%, rgba(9,20,86,1) 100%);
    position: relative;
    min-height: 100vh;
    max-width: 250px;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}
